<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div th:fragment="footer">
    <footer id="footer" class="footer">
        <div class="menu-bar">
            <a th:href="@{/list.html}" class="menu-item"><i class="fas fa-users"></i></a>
            <a href="#" class="menu-item"><i class="fas fa-bullhorn"></i></a>
            <a href="#" class="menu-item"><i class="fas fa-user-circle"></i></a>
            <a th:href="@{/login.html}" class="menu-item"><i class="fas fa-sign-out-alt"></i></a>
        </div>
    </footer>
</div>
</body>
</html>
