<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GODA GYM 메인</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <link rel="stylesheet" th:href="@{/css/all.min.css}">
</head>
<body>
<div id="container">
  <div th:replace="fragments/header :: header"></div>
  <div th:replace="fragments/content :: content"></div>
  <div th:replace="fragments/footer :: footer"></div>
</div>

<!-- 팝업 창 -->
<div class="overlay"></div>
<div id="popup">
  <div id="popupContent">
    <span id="popupClose">&times;</span>
    <h2>오운 정보</h2>
    <p>오운에 대한 상세 정보가 여기에 표시됩니다.</p>
  </div>
</div>

<script th:src="@{/js/jquery-3.5.1.slim.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>
